<%= form_for @recipe do |f| %>
    <% if @recipe.errors.any? %>
        <div class="alert alert-danger">
          <% @recipe.errors.full_messages.each do |message| %>
              <div>
                <%= message %>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <%= f.hidden_field :user_id %>
        <div class="form-group">
          <div>
            <%= f.label :type, 'Recipe type' %>
          </div>
          <div class="btn-group" data-toggle="buttons">
            <% RecipeType.all.each do |type| %>
                <% checked = (type.id == @recipe.type_id) ? 'active' : '' %>
                <label class='btn btn-default <%= checked %>'>
                  <%= f.radio_button :type_id, type.id, checked: (type.id == @recipe.type_id) %>
                  <%= type.name %>
                </label>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class='row'>
            <div class="col-md-6">
              <%= f.label :preparation_time %>
              <div class="input-group date timepicker">
                <% time = @recipe.preparation_time.nil? ? '' : @recipe.preparation_time.strftime('%H:%M') %>
                <%= f.text_field :preparation_time, value: time, class: 'form-control' %>
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
              </div>
            </div>

            <div class="col-md-6">
              <%= f.label :cooking_time %>
              <div class="input-group date timepicker">
                <% time = @recipe.cooking_time.nil? ? '' : @recipe.cooking_time.strftime('%H:%M') %>
                <%= f.text_field :cooking_time, value: time, class: 'form-control' %>
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div>
                <%= f.label :complexity %>
              </div>
              <div class="btn-group" data-toggle="buttons">
                <% Recipe.complexities.each do |complexity, value| %>
                    <% checked = (complexity == @recipe.complexity) ? 'active' : '' %>
                    <label class='btn btn-default <%= checked %>'>
                      <%= f.radio_button :complexity, complexity, checked: (complexity == @recipe.complexity) %>
                      <%= complexity.capitalize %>
                    </label>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div>
                <%= f.label :cost %>
              </div>
              <div class="btn-group" data-toggle="buttons">
                <% Recipe.costs.each do |cost, value| %>
                    <% checked = (cost == @recipe.cost) ? 'active' : '' %>
                    <label class='btn btn-default <%= checked %>'>
                      <%= f.radio_button :cost, cost, checked: (cost == @recipe.cost) %>
                      <%= cost.capitalize %>
                    </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group dropzone">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.label :servings %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :servings, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :ingredients %>
          <%= react_component 'IngredientListInput', name: :ingredients,
                              ingredients: @recipe.recipe_ingredients.as_json %>
        </div>
      </div>
    </div>

    <hr>
    <div class="form-group">
      <%= f.label :preparation, 'Preparation description' %>
      <%= f.text_area :preparation, class: 'markdown-editor', 'data-preview-url' => markdown_render_path %>
    </div>
    <div class="form-group">
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
<% end %>