<div class="container recipe-page">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @recipe.type.name.capitalize %>: <i><%= @recipe.name %></i></h1>

      <div>
        <b>Preparation time: </b>
        <%= @recipe.preparation_time.min %>min
      </div>
      <div>
        <b>Cooking time: </b>
        <%= @recipe.cooking_time.min %>min
      </div>
      <hr>
      <div>
        <h3>Ingredients:</h3>

        <div class="ingredients-list">
          <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              <div class="ingredient">
                <b><%= recipe_ingredient.ingredient.name %></b>:
                <%= recipe_ingredient.value %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class='recipe-image' src="<%= @recipe.image %>"/>
    </div>
  </div>
  <div class="recipe-preparation">
    <h3>Preparation steps:</h3>
    <%= content_tag :div, render_markdown(@recipe.preparation).html_safe, class: 'recipe-preparation-steps' %>
  </div>
</div>