<div class="container recipe-page">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @recipe.type.name.capitalize %>: <i><%= @recipe.name %></i></h1>

      <div>
        <b>Preparation time: </b>
        <%= @recipe.preparation_time.min %>min
      </div>
      <div>
        <b>Cooking time: </b>
        <%= @recipe.cooking_time.min %>min
      </div>
      <hr>
      <div>
        <b>Ingredients:</b>

        <div>
          <% @recipe.ingredients.each do |ingredient| %>
        <span class="label label-default">
            <%= ingredient.name %>
        </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class='recipe-image' src="<%= @recipe.image %>"/>
    </div>
  </div>
  <div>
    <b>Preparation steps:</b>
    <%= content_tag :div, @recipe.preparation, class: 'recipe-preparation-steps' %>
  </div>
</div>