<div class="container recipe-page">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <% if can? :edit, @recipe %>
            <a href="<%= edit_recipe_path(@recipe) %>"><%= fa_icon 'edit' %></a>
        <% end %>
        <%= @recipe.type.name.capitalize %>: <i><%= @recipe.name %></i>
      </h1>

      <div class="row">
        <div class="col-md-6">
          <div class="shadow-box">
            <div class="box-title">
              Complexity
            </div>
            <div class="box-important-data recipe-complexity-<%= @recipe.complexity %>">
              <%= @recipe.complexity.capitalize %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="shadow-box">
            <div class="box-title">
              Cost
            </div>
            <div class="box-important-data recipe-cost-<%= @recipe.cost %>">
              <%= @recipe.cost.capitalize %>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6 ">
          <div class="shadow-box">
            <div class="box-title">
              Preparation time
            </div>
            <div class="box-important-data">
              <%= time_prettify(@recipe.preparation_time) %>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="shadow-box">
            <div class="box-title">
              Cooking time
            </div>
            <div class="box-important-data">
              <%= time_prettify(@recipe.cooking_time) %>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div>
        <h3>Ingredients:</h3>

        <div class="ingredients-list">
          <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              <div class="shadow-box ingredient">
                <div class="ingredient-name ">
                  <b><%= recipe_ingredient.ingredient.name %></b>
                </div>
                <div class="ingredient-quantity">
                  <%= recipe_ingredient.value %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-box">
        <img class='recipe-image' src="<%= @recipe.image %>"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="recipe-preparation shadow-box">
        <h3>Preparation steps:</h3>
        <%= content_tag :div, render_markdown(@recipe.preparation).html_safe, class: 'recipe-preparation-steps' %>
      </div>
    </div>
  </div>
</div>