<header>
  <div class="left-nav">
    <div>
      <a href="<%= root_path %>"><%= image_tag('logo.png', width: '200px') %></a>
    </div>

    <div class="search-box">
      <%= react_component('RecipeSearcher') %>
    </div>
  </div>
  <div class="right-nav">
    <% if user_signed_in? %>
        <div class="dropdown">
          <a class="dropdown-toggle" id="user-drop-menu" data-toggle="dropdown" type="button">
            <span><%= current_user.email %></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="user-drop-menu">
            <li role="presentation">
              <%= link_to 'Some path', '' %>
            </li>
            <li role="presentation">
              <%= link_to destroy_user_session_path, :method => :delete do %>
                  <span class='glyphicon glyphicon-log-out'></span>
                  <span class="hidden-xs hidden-sm">Log out</span>
              <% end %>
            </li>
          </ul>
        </div>
    <% else %>
        <div>
          <%= link_to new_user_session_path, class: 'flex-center' do %>
              <span class='glyphicon glyphicon-log-in'></span> <span class="hidden-xs">Log in</span>
          <% end %>
        </div>
        <div>
          <%= link_to new_user_registration_path, class: 'flex-center' do %>
              <span class='glyphicon glyphicon-user'></span> <span class="hidden-xs">Sign up</span>
          <% end %>
        </div>
    <% end %>
  </div>
</header>
